{{!-- {{> page/title }} --}}


    <section class="container px-5 pt-24 pb-24 mx-auto">
        <div class="flex flex-wrap">

            <div class="md:w-3/5">
            <img class="w-full border shadow-xl rounded-lg" src="{{ project.fields.images.[0].url }}" alt="{{ project.fields.title }}" style="">
            </div>
            <div class="md:w-2/5 pl-10">


                    <h2 class="text-2xl text-gray-800 font-medium title-font mb-4">{{ project.fields.title }}</h2>
                    <div class="leading-relaxed text-base text-gray-800 content">
                        {{#if project.fields.description_long}}
                            {{{ project.fields.description_long }}}
                        {{else}}
                            {{ project.fields.description }}
                        {{/if}}
                    </div>
                    <p class="flex flex-wrap justify-between items-center pt-8">
                    <a href="{{ project.fields.url }}" target="_blank" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-12 border border-gray-400 rounded shadow inline-block w-auto">
                        Visit Project
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-4 h-4 ml-1 inline" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/intent/tweet?hashtags=usingdeno%2Cdenoland%2Cdeno&text={{ project.fields.description_encoded }}&url=https%3A%2F%2Fusingdeno.com%2Fproject%2F{{ project.fields.slug }}&via=UsingDeno" target="_blank" class="ml-2 mr-1 font-medium hover:text-blue-400">Tweet it <i class="fab fa-twitter"></i></a>
                    </p>

                </div>



        </div>


</section>
